VITE_TCG_NFT_CONTRACT_ADDRESS=0xB62371B37197391Ac47Aa0895604Ec0d0A65E996
VITE_TCG_NFT_CHAIN_ID=1
VITE_TCG_NFT_START_BLOCK=25160280
VITE_TCG_NFT_MAX_TOKENS=24
VITE_TCG_IPFS_GATEWAY=https://ipfs.io/ipfs/
VITE_PARADOX_PFP_NFT_CONTRACT_ADDRESS=0xeb1352bC1BfD11e8a67E1253F02C21f99E4d1BD9
VITE_PARADOX_PFP_NFT_CHAIN_ID=8453
VITE_PARADOX_PFP_NFT_RPC_URL=https://base-rpc.publicnode.com
VITE_PARADOX_PFP_NFT_START_BLOCK=29805669
VITE_PARADOX_PFP_NFT_MAX_TOKENS=24
VITE_PARADOX_PFP_NFT_OWNER_SCAN_LIMIT=5000
